<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Diet Tracker</title>
</head>
<body>
<h1>Diet Tracker</h1>
<p></p>
<p>
    <a href="/users">Show protocols</a> &middot;
    <a href="/adduser">Add protocol</a> &middot;
    <a href="/products">Show items</a> &middot;
    <a href="/product">Add item</a> &middot;
    <a href="/transfer">Add to diary</a> &middot;
    <a href="/transfers">Food diary</a>
</p>
<p><b>{{this}}</b></p>
</body>
</html>
